<div class= "ms-4" id="<%= dom_id restaurant %>">
  <p>
    <h3><%= restaurant.name %></h3>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= restaurant.phone_number %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= restaurant.category %>
  </p>
</div>
